<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="robot_name" default="nav_bot"/>

    <xacro:property name="robot_name" value="$(arg robot_name)"/>

    <xacro:include filename="bot_core.xacro" />

    <xacro:include filename="gz_control.xacro" />

    <xacro:include filename="camera.xacro" />

    <xacro:include filename="multi_lidar.xacro" />

    <xacro:include filename="multi_camera.xacro" />




</robot>